
.container{
  padding:10px 20px;
  margin:40px 20px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  max-height: 60vh;
  border-radius: 5px;
}
.right{
  display:flex;
  margin-left:auto;
  margin-right:40px;
  margin-top:0;
}
.overflow{
  overflow:scroll;
}